<h1>About Us</h1>
<p>
  What is there to say about us really, other than:
<ul>
  <li>we're loving the Ruby</li>
  <li>we're loveing the Rails</li>
  <li>i miss having to build the whole infrastructure</li>
  <li>just kidding, not missing it at all.</li>
</p>
